body {
  margin: 0;
  padding: 0;
}
h1 {
  background-color: rgb(98, 98, 252);
  color: white;
  text-align: center;
}
ul {
  background-color: black;
}
ul li {
  background-color: lightgrey;
  display: inline-block;
  padding: 10px;
}
ul li:hover {
  background-color: rgb(71, 167, 71);
  color: white;
  padding-left: 15px;
  transition: 1s;
}
