table {
  border-collapse: collapse;
  width: 100%;
  height: 60%;
  text-align: center;
  background-color: lightblue;
}
table,
th,
td {
  border: 1px solid black;
}
td:hover {
  background-color: #ffd;
  cursor: pointer;
}

.a {
  background-color: darkblue;
  color: white;
  font-size: 25px;
}
.b {
  background-color: lightgray;
  color: black;
  font-weight: bold;
}
.c {
  background-color: lightgrey;
  color: black;
  font-weight: bold;
}
.s {
  background-color: #003366;
  color: white;
}
